.form-data-field {
    font-weight: bold;
}

.form-button-field {
    color: white!important;
    background: purple!important;
}

.custom-btn {
    color: black;
    background: yellow;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}