{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}

<div class="">
<h2>User Info </h2>
  <div class="row">
    <div class="col-md-6">
      <i>{{ name }}</i>
    </div>
    <div class="col-md-6">
      <i>{{ email }}</i>
    </div>
  </div>

</div>